doctype
html
  head
    block title
      title Sample App
    block meta
      meta(name='description', content='')
      meta(name='keywords', content='')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    style.
      body { padding-top: 60px; }
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    block head  
  body
    include header
    block content
    include footer